<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
        .error {
          font-weight: bold;
          color: red;
          font-size: 1.2em;
        }
        li {
          margin-bottom: 7px;
          font-size: 1.2em;
        }
        li > button {
          margin-left: 6px;
        }
        button > span {
          color: green;
        }
      </style>  
</head>
<body ng-app="restfulAngular">
   <div class="container" ng-controller="narrowDownController as narrowC">
    <div>
        <h1>Narrow Down Your Chinese Menu Choice</h1>
        <div class="form-group">
            <input ng-model="narrowC.sTerm" type="text" placeholder="search term" class="form-control">
        </div>
        <div class="form-group narrow-button">
            <button class="btn btn-primary" ng-click="narrowC.narrowDown()">Narrow It Down For Me!</button>
        </div>
    </div>
    <!-- found-items should be implemented as a component -->
    <div>
        <br><br><br>
    <found-items my-list="narrowC.narrow"></found-items>
    </div>
    <div class="error" ng-if="narrowC.errorMessage.length">
        {{narrowC.errorMessage}}
    </div>
</div>

</body>
</html>
